* {
    box-sizing: border-box;
}
body {
    font-family: "Raleway", sans-serif;
    min-height: 100vh;
}

a {
    color: black;
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
}

header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    max-width: 1440px;
    padding: 0px 40px 0px 55px;
    margin: auto;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 19px;
}

.logo{
    width: 61.09px;
    height: 19px;
}

.nav-link:hover {
    padding-top: 22px;
    border-top: 2px solid rgba(0, 101, 252, 1);
    color: #0065fc;
}

.nav-link {
    text-decoration: none;
    color: black;
}

ul {
    display: flex;
}

li {
    margin-left: 40px;
    list-style: none;
}

h3{
    font-family: "Raleway", sans-serif;
}

.container {
    max-width: 1440px;
    padding: 0px 50px 0px 55px;
    margin: auto;
}

h1 {
    margin: 11px 0px 9px 0px;
    font-size: 22px;
    font-weight: 700;
}

p{
    font-family: "Raleway", sans-serif, italic;
    font-style: italic;
}

.subtitle {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}

form {
    display: flex;
    width: 31.5%;
    min-width: 345px;
    height: 51px;
    border: 1px solid #F2F2F2;
    border-radius: 16px;
    margin: 18px 0px 0px -1px;
}

.center{
    background-color: #F2F2F2;
    border-radius: 16px 0px 0px 16px;
    height: auto;
    width: 89px;
    display: flex;
    align-items: center;
    justify-content: center
}

.fa-location-dote {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    min-width: 51px;
    max-height: 51px;
    border-radius: 15px 0px 0px 15px;
    background: #F2F2F2;
}
input {
    width: 100%;
    padding: 3px 0px 0px 16px;
    font-size: 18px;
    font-weight: 800;
    border: none;
    outline: none;
}
.search-button {
    margin: 0;
    padding: 3px 0px 0px 0px;
    height: 51px;
    width: 247px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background: #0065FC;
    border-radius: 0px 16px 16px 0px;
    cursor: pointer;
}
.search-button-phone {
    display: none;
}

.filters {
    display: flex;
    margin-top: 31px;
    padding-left: 7px;
}
.filters-bars {
    display: flex;
    gap: 5px 45px;
}
.title-filters {
    font-size: 18px;
    font-weight: 800;
    margin: 15px 31px 18px 0px;
}

.filters-bars2 {
    display: flex;
    align-items: center;
    border: 2px solid rgb(222,222,222);
    border-radius: 25px;
    transition: ease-in-out 0.25s;
}

.filters-bars2:hover {
    color: white;
    background: #0065FC;
    cursor: pointer;
}



.fa-filters {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -2px;
    height: 50px;
    width: 50px;
    font-size: 19px;
    color: #0065FC;
    border-radius: 100%;
}

.fa-child-reaching {
    font-size: 20px;
}

.text-filters {
    font-size: 18px;
    font-weight: 800;
    margin: 4px 20px 0px 12px;
    margin-left: -4px;
}

.text-filters-fam {
    margin-right: 20px;
}

.margin-filters-rom {
    margin-right: 12px;
}

.div-info {
    display: flex;
    align-items: center;
    padding-left: 4px;
    margin-top: 19px;
    align-content: center;
}
.fa-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -3px;
    width: 24px;
    height: 24px;
    font-size: 13px;
    color: #0065FC;
    border: 1px solid rgb(222,222,222);
    border-radius: 100%;
}
.text-info {
    padding-left: 11px;
    font-size: 16px;
    font-weight: 500;
}

.text-filters-ani {
    margin-right: 17px;
}

.middle-sections {
    display: flex;
    margin: 22px 0px 0px -5px;
    gap: 2.95%;
}
.wrap-hebergements {
    background: #F2F2F2;
    width: 67.85%;
    padding: 23px 25px 0px 25px;
    border-radius: 20px;
}
.wrap-populaires {
    background: #F2F2F2;
    width: 32.3%;
    padding: 25px 25px 25px 25px;
    /* margin-top: 1px; */
    border-radius: 20px;
}
h2 {
    font-size: 21.8px;
    font-weight: 800;
}
.fa-star {
    font-size: 11.7px;
    margin: 6px -3px 11px 0px;
}
.blue-star {
    color: #0065FC;
}
.gray-star {
    color: rgb(222,222,222);
}
.bold-text {
    font-weight: 800;
}
.article-cards {
    background: white;
    padding: 5px 5px 0px 5px;
    border-radius: 20px;
    box-shadow: 0px 3px 14px 0px #d3d3d3;
    transition: all ease-out 0.1s;
}
.article-cards:hover {
    box-shadow: 0px 3px 14px 0px #787777;
    transform: translate(0px, -4px);
}
.p-cards {
    font-size: 14px;
    font-weight: 500;
}

.cardsHebergements {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.AcardsHebergements {
    flex: 1 0 30%;
    min-width: 200px;
    border-radius: 20px;
}

.objectHebergements {
    width: 100%;
    height: 114px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}

.h3CardsHebergements {
    font-size: 16px;
    font-weight: 800;
    margin-top: 6px;
}

.text-cards-hebergements {
    margin: 5px 0px 0px 4.4%;
}

.WrapStarsHebergements {
    margin-left: 11px;    
}

.show-more {
    font-size: 18px;
    font-weight: 800;
    margin-top: 63px;
    cursor: pointer;
}

.title-star {
    font-size: 21px;
    margin-top: 23px;
}
.populaires-title {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-right: 4px;
    margin: auto;
}

.blue{
    color: #0065FC;
    margin-top: 10px;
}


.WrapcardsPopulaires {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-top: 3px;
}
.article-cards-populaires {
    display: flex;
    max-height: 170px;
    padding: 5px;
    aspect-ratio: auto;
}
.AcardsPopulaires {
    border-radius: 20px;
}
.objectPopulaires {
    width: 124px;
    height: 161px;
    border-radius: 15px 0px 0px 15px;
    object-fit: cover;
}
.text-cards-populaires {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 62.2%;
    margin-left: 5.8%;
}
.h3CardsPopulaires {
    font-size: 16px;
    font-weight: 800;
    margin: 12px 0px 0px 0px;
}
.p-cards-populaires {
    margin-top: -20px;
    
}

.lower-section {
    margin: 60px 0px 60px -5px;
}
.wrapCardsActivites {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;

}
.parc-tablet {
    display: none;
}
.article-cards-activites {
    height: 100%;
}
.AcardsActivites {
    width: 22%;
    border-radius: 20px;
    box-shadow: 0px 3px 14px 0px #d3d3d3;
    transition: all ease-out 0.1s;
}
.AcardsActivites:hover {
    box-shadow: 0px 3px 14px 0px #787777;
    transform: translate(0px, -4px);
}
.object-fit-activites {
    width: 100%;
    height: 390px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}
.h3-cards-activites {
    font-size: 16px;
    font-weight: 800;
    margin: 17px 0px 17px 6.4%;
}
.wrap-activites-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24.2%;
    min-width: 141px;
}
.article-cards-activites-column {
    height: 100%;
    border-radius: 20px;
    box-shadow: 0px 3px 14px 0px #d3d3d3;
    transition: all ease-out .1s;
    overflow: hidden;
}
.article-cards-activites-column:hover {
    box-shadow: 0px 3px 14px 0px #787777;
    transform: translate(0px, -4px);
}
.AcardsActivites-column {
    border-radius: 20px;
}
.object-fit-activites-image-fort {
    width: 100%;
    height: 181px;
    object-fit: cover;
    object-position: 50% 40%;
}
.object-fit-activites-image-iles {
    width: 100%;
    height: 110px;
    object-fit: cover;
    object-position: 50% 20%;
}
.object-fit-activites-image-dame {
    width: 100%;
    height: 140px;
    object-fit: cover;
    object-position: top;
}
.object-fit-activites-image-parc {
    width: 100%;
    height: 153px;
    object-fit: cover;
    object-position: 50% 13%;
}

footer {
    display: flex;
    justify-content: space-around;
    max-width: 1440px;
    padding: 26px 55px 36px 50px;
    margin: auto;
    background: #F2F2F2;
    flex-wrap: wrap;
}
.div-footer {
    width: 100%;
}
div ul li {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 13px;
}

.icone-flex .fa-solid{
    display: var(--fa-display,flex);
}


@media screen and (min-width:992px) and (max-width: 1400px){

    .article-cards-populaires {
        width: auto;
    }

    .h3CardsPopulaires {
        font-size: 15px;
        margin-bottom: 30px;
    }

    .filters-bars{
        gap: 5px 25px;
    }

    input{
        font-size: 15px;
        text-align: center;
    }

    .WrapcardsPopulaires {
        margin-top: 30px;

    }

    .AcardsActivites{
        margin-right: 25px;
    }

}

/*** MEDIA QUERIES TABLETS ***/
@media screen and (min-width: 768px) and (max-width: 992px) {
    
    .body{
        width: 100%;
    }

    header{
        width: 100%;
    }

    .container{
        padding: 30px;
    }



    img {
        max-width: 100%;
    }
    
    form {
        width: 50%;
    }

    .filters-bars {
        gap: 10px 10px;
    }

    .middle-sections {
        flex-direction: column;
    }

    .text-filters{
        font-size: 12px;
    }

    .search-button{
        font-size: 16px;
    }

    input{
        font-size:15px;
    }

    .h3CardsPopulaires{
        font-size: 15px;
        margin-bottom: 30px;
    }

    h3{
        font-size: 15px;
    }

    .wrap-populaires {
        width: 100%;
        padding-bottom: 25px;
        margin-top: 50px;
    }
    .WrapcardsPopulaires {
        flex-direction: row;
        justify-content: center;
        gap: 15px;
        margin: auto;
    }

    .objectPopulaires{
        width: 90px;
        height: 160px;
    }

    .AcardsPopulaires {
        flex: 1 0 30%;
        min-width: 150px;
    }
    .wrap-hebergements {
        width: 100%;
    }

   .object-fit-activites {
        width: 100%;
        height: 182px;
    }

}

@media screen and (max-width: 767px){

    header{
        flex-direction: column;
        align-items: center;
    }

    .nav-item{
        margin-top: 15px;
    }

    .container{
        padding: 0;
    }

    p {
        font-size: 14px;
    }

    .text-info, p{
        font-size: 14px;

    }

    .filters-bars {
        flex-flow: row wrap;
           
    }

    .filters{
        flex-direction: column;
    }

    h1, input{
        font-size: 15px;
    }

    .objectPopulaires {
        width: 173px;
    }

    .object-fit-activites {
        height: 172px;
    }
    
    .text-filters{
        font-size: 14px;
    }

    .title-filters{
        font-size: 16px;
    }

    .wrap-populaires {
        width: auto;
        margin-bottom: 82px;
        height: 620px;
    }

    .WrapcardsPopulaires {
        width: auto;
        gap: 15px;
    }

    .wrap-hebergements{
        width: auto;
        margin-bottom: -16px;
    }

    .AcardsActivites{
        width: 90%;
        margin-bottom: 30px;
    }

    .middle-sections {
        flex-direction:column-reverse
    }

    .article-cards-populaires{
        width: auto;
    }

    .wrapCardsActivites{
        flex-direction: column;
        align-items: center;
    }

    footer{
        flex-direction: column;
    }

    h2{
        font-size: 18px;
        margin: 0;
        margin-bottom: 10px;
    }




}